*{
    border: 1px solid red;
}
html, body, {
    height: 1000px;
    width: 1000px;
    margin: 0px;
    float: left;
    display: flex;
}
.mapLinks{
    margin-top: -28px;
}
.header {
    background-color: hsl(0,0%,97%);
    margin: 0px;
    padding: 10px 0px;
}
.main-container{
    display: inline-flex;

}

.left-container{
    width: 300px;
    margin-right: 10px;
    border-radius: 5px;
    height: 600px;
    float: left;
    background-color: hsl(0,0%,93%,0.63);
}
#map_canvas {
    height: 600px;
    width: calc(100% - 310px);
    margin: 0px;
    float: left;
    position: relative;
    display: flex;
    flex-grow: 1;
}
.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}