

<h3 class="mapLinks">
	<a class="btn btn-link" href="#/">Home</a>
	<a class="btn btn-link" href="#/map">Map</a>
</h3>
<div class="main-Container">
	<div class="left-container">
		<button class="btn btn-primary" type="submit" ng-click="pinSpot()">Pin Current Location</button>
		<div ng-repeat="pin in pinList">
			<button class="btn btn-danger btn-sm" ng-click="removePin(pin.$id)">x</button>
		{{pin.data.results[0].formatted_address}}
		</div>
	</div>
    <div id="map_canvas">
    <ui-gmap-google-map center="map.center" zoom="12">
			<ui-gmap-marker coords="marker.coords" ng-repeat="marker in items" idkey="marker.$id" options="options"></ui-gmap-marker>

			<ui-gmap-layer namespace="weather" type="WeatherLayer" show="showWeather" options="TemperatureUnits"></ui-gmap-layer>



    </ui-gmap-google-map>
	</div>
</div>