
<ng-transclude></ng-transclude>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  
  <div class="modal-dialog modal-sm">

<div class="modal-content-content1">
	<div ng-repeat="day in days">
	    <p>{{day}}</p>
	    <input type="checkbox" ng-click="handleDay(day)">
	    </div>
	    <button ng-click="runFunc()">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		</div>
		
	</div>
</div>
